{% extends "layout.html" %}
{% block body %}
    <h2>Все книги</h2>
    {%- for book in book %}
            <ul>
                <li>Наименование книги: {{book.name_book}}</li>
                <li>Добавлен: {{book.added}}</li>
                <li><a href={{url_for('genre', genre_id=book.genre_id)}}>Жанр: {{book.genre}} </a></li>
                <li>Книга прочитана?:{{book.is_read}}</li>
                <form>
                    <label>
                        <input type="checkbox">
                        Прочитана:
                    </label>
                </form>
            <button type="button" name="popup-button">Сохранить!</button>
        </ul>
        <hr>
    {%- endfor %}

{% endblock %}